<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DbConnFactory.DatabaseFactorySectionHandler, DbConnFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="MyConnection1" providerName="Oracle.DataAccess.Client" connectionString="Data Source=Pruebas2;User Id=mytest;Password=valerie5250;Integrated Security=no;" />
    <add name="MyConnection2" providerName="System.Data.SqlClient" connectionString="Data Source=WIN-3VU0IUD67IK\SQLEXPRESS;Initial Catalog=Agenda;User ID=sa;Password=Flpvrgs1966;" />
    <add name="MyConnection3" providerName="Oracle.DataAccess" connectionString="Data Source=Pruebas2;User Id=mytest;Password=valerie5250;" />
    <add name="MyConnection4" providerName="Oracle.DataAccess" connectionString="Data Source=Pruebas3;User Id=mytest;Password=oracle;" />
  </connectionStrings>
  <!--
  <DatabaseFactoryConfiguration Name="MyStuff.Managers.OracleDatabase" ConnectionStringName="MyConnection1" />
  -->
  <!-- con el atributo id se identifica cual conexión se va a utilizar  
       Esta se indica en la clase DataWorker, en el constructor 
        static DataWorker()
        {
            try
            {
                _database = DatabaseFactory.CreateDatabase(3);
            }
            catch (Exception excep)
            {
                throw excep;
            }
        }
        
       -->
  <DatabaseFactoryConfiguration  >
    <add name="DbConnFactory.OracleDatabase" ConnectionStringName="MyConnection1" id="1"/>
    <add name="DbConnFactory.MsSqlServerDatabase" ConnectionStringName="MyConnection2" id="2" />
    <add name="DbConnFactory.OracleOdpWin" ConnectionStringName="MyConnection3" id="3" />    
    <add name="DbConnFactory.OracleOdpDatabase" ConnectionStringName="MyConnection4" id="4" />
    <!--... -->
  </DatabaseFactoryConfiguration>
</configuration>